<div class="col-10 offset-1 about">
<h1>About Splurty</h1>

<p>
    Splurty was built by Richard Sachek, an aspiring web developer who is taking the Firehose Project full-stack development course. I hope you enjoy the quotes which are all from the reality television show "Shark Tank". 
  </p>
  
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'selfie_22.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
     <div style="padding-top:30px;">
      <h2 class="text-center">Richard Sachek</h2>
      <br />
      <p>
        Richard has a background in financial services and real estate. Since 2005, he has owned his own "house flipping" business averaging five projects per year. In his spare time, he has a passion for travel and has visited 30 states and over 25 countries.
      </p>
    </div>
  </div>
  </div>
  <br class="clear" />

</div>