
  <p class="quote_number">Splurty / No. <%= @quote.id %><span class="quote_desc"> Useful and not-so-useful advice from the entrpreneurs of Shark Tank.</span></p>


<h1 style="padding-top:30px"><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>
<br class="clear" />
<br />
<br />